<<<<<<< HEAD
body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #f5f5f5;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 96%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #444;
}

.result {
  margin-top: 20px;
}

#qr-image {
  width: 200px;
  display: block;
  margin: 10px auto;
}

#download-btn {
  display: none;
  padding: 10px;
  background: #0080ff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

#url-display {
  display: none;
=======
body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #f5f5f5;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 96%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #444;
}

.result {
  margin-top: 20px;
}

#qr-image {
  width: 200px;
  display: block;
  margin: 10px auto;
}

#download-btn {
  display: none;
  padding: 10px;
  background: #0080ff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

#url-display {
  display: none;
>>>>>>> e0e03c23c336a70e543c67f9dc5f30c30f880eef
}